body{
  font-family: 'Lato', sans-serif;
  background-image: url('bg3.png');
  color: #2c3e50;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
  background-image: url('banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid #2c3e50;
}
.poke-hand{
    display: flex;
    width: 435px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.main{
  display:flex;
  padding: 0 40px;
}
.card {
  text-align: center;
  border: 4px solid #2c3e50;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  cursor: pointer;
  width: 126px !important;
  box-shadow: none;
  transition: all 1s ease;
}
.card:hover{
  transform: scale(1.2);
}
.battle-poke:hover {
  transform: none;
}
.card.not-first-turn {
    box-shadow: 0px 0px 28px 3px #353535 inset;
}
.card img{
  display:block;
  margin: 0 auto;
  height: 96px;
}
.card .info {
  background: #ecf0f1;
  padding-bottom: 5px;
}
.card .info .name {
  color: #ecf0f1;
  background:#2c3e50;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 5px;
}
.card .info .name span {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card .info .stats {
  display: flex;
  flex-wrap: wrap;
}
.card .info .stats span {
  width: 33%;
  text-align: center;
}
.card .info .stats span:nth-child(1), .card .info .stats span:nth-child(2), .card .info .stats span:nth-child(3) {
  font-size: 12px;
}
.card .info .stats span:nth-child(4), .card .info .stats span:nth-child(5), .card .info .stats span:nth-child(6) {
  font-weight: bold;
}
.battle-cont{
    margin: 20px auto;
    width: 310px;
    overflow: hidden;
}
.battle-poke{
  float:left;
  width: 135px !important;
  cursor: default;
}
.battle-button{
  margin: 20px auto;
  display:block;
  width: 310px !important;
  font-size: 16px;
  text-transform: uppercase;
  background: #e74c3c !important;
}
.battle-button.disabled {
  background: #bdc3c7 !important;
  color: #95a5a6;
}
.card-outline {
  width: 136px;
  height: 167px;
  border: 5px dotted #95a5a6;
  float: left;
  margin: 4px;
  border-radius: 5px;
}
.card-outline span {
  color: #95a5a6;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin-top: 30px;
  display: block;
  font-weight: bold;
}
.loading {
  display:flex;
  align-items:center;
  justify-content: center;
  height:135px;
  width: 435px;
}
.atk{
  color: #c0392b;
}
.def{
  color: #16a085;
}
.spd{
  color: #34495e;
}
.water{
  background: #2980b9;
}
.fire, .fighting{
  background: #c0392b;
}
.rock, .ground{
  background: tan;
}
.flying,.ice{
  background: #3498db;
}
.grass, .bug{
  background: #2ecc71;
}
.poison,.psychic,.fairy {
  background: #9b59b6;
}
.dragon, .ghost, .dark {
  background: #8e44ad;
}
.electric{
  background: #f39c12;
}
.normal, .steel{
  background: #bdc3c7;
}
.new-hand-btn, .battle-button{
  cursor: pointer;
  border: 3px solid #fff;
  padding: 10px;
  background: #16a085;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  width: 50%;
  margin-top: 10px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}
.new-hand-btn:hover{
  background: #118a72;
}
.battle-button:not(.disabled):hover {
  background: #e03321 !important;
}
.loading img {
  width: 100px;
  display: block;
}
.loading span {
  display: block;
  font-weight: bold;
  margin-left: 10px;
}
.player-turn {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}
.player-turn .one {
  color: #2980b9;
}
.player-turn .two {
  color: #c0392b;
}
.game-types{
  width: 450px;
  display:block;
  margin: 0 auto;
}
.game-types a{
  font-size: 6em;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin: 50px 0;
}
.mute-toggle{
  font-size: 10px;
  position: absolute;
  left: 20px;
  bottom: 30px;
  cursor: pointer;
  border: 1px solid transparent;
}
.mute-toggle:hover{
  border-bottom: 1px solid #222;
}
.poke1{
  animation: vibrate-1 1.5s infinite,scale-in-center .5s cubic-bezier(.25,.46,.45,.94);
}
.poke2 {
  animation: vibrate-2 1.5s infinite,scale-in-center .5s cubic-bezier(.25,.46,.45,.94);
}
.poke1.first-attack {
  animation: vibrate-1 1.5s infinite;
}
.poke2.first-attack {
  animation: vibrate-2 1.5s infinite;
}
.poke1.first-attack.not-first-turn {
  animation: vibrate-1 3s infinite;
}
.poke2.first-attack.not-first-turn {
  animation: vibrate-2 3s infinite;
}
.poke1.not-first-turn:not(.first-attack) {
  -webkit-animation: vibrate-1 3s infinite, blink-1 0.3s ; /* Safari 4+ */
  animation: vibrate-1 3s infinite, blink-1 0.3s ; /* IE 10+ */
}
.poke2.not-first-turn:not(.first-attack) {
  -webkit-animation: vibrate-2 3s infinite, blink-1 0.3s; /* Safari 4+ */
  animation: vibrate-2 3s infinite, blink-1 0.3s; /* IE 10+ */
}
.vibrate-1 {
  -webkit-animation: vibrate-1 1.5s infinite; /* Safari 4+ */
  animation: vibrate-1 1.5s infinite; /* IE 10+ */
}
.vibrate-2 {
  -webkit-animation: vibrate-2 1.5s infinite; /* Safari 4+ */
  animation: vibrate-2 1.5s infinite; /* IE 10+ */
}
.blink-1 {
	-webkit-animation: blink-1 0.3s both;
  animation: blink-1 0.3s both;
}
.ping {
  -webkit-animation: ping .8s infinite; /* Safari 4+ */
  animation: ping .8s infinite; /* IE 10+ */
}
.pulsate-fwd {
  -webkit-animation: pulsate-fwd 1.5s infinite; /* Safari 4+ */
  animation: pulsate-fwd 1.5s infinite; /* IE 10+ */
}
.slide-in-bck-right{-webkit-animation:slide-in-bck-right .6s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bck-right .6s cubic-bezier(.25,.46,.45,.94) both}
.slide-in-bck-left{-webkit-animation:slide-in-bck-left .6s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bck-left .6s cubic-bezier(.25,.46,.45,.94) both}
.scale-in-center{
  -webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
  animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both
  }
.tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}